<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificação de Bares</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
</head>
<body>
     <h1>Consulta de Bares</h1>
     <p id="msg"></p>
    <label for="enderecoInput">Endereço do Bar:</label>
    <input type="text" id="enderecoInput" placeholder="Ex: 123 Main Street">
    <button onclick="queryBar()">Consultar</button>
    
    <div id="resultado"></div>

    <script src="{{url_for('static', filename='js/index.js')}}"></script>

      
</body>
</html>
